arian-gogani/nobulex/nobulex-article12-workflow.yml
app:
  description: "EU AI Act Article 12 compliant workflow template. Every tool call is signed with a cryptographic receipt via Nobulex, producing an independently verifiable audit trail."
  icon: "🔐"
  icon_background: "#1B1B2F"
  mode: workflow
  name: "Nobulex — Article 12 Auditable Workflow"
  use_icon_as_answer_icon: false

kind: app

version: 0.1.5

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .WEBP
        - .GIF
        - .PDF
        - .TXT
        - .MD
      allowed_file_types:
        - image
        - document
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        file_size_limit: 15
        image_file_size_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""

  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: tool
        id: edge-start-sign
        source: start
        sourceHandle: source
        target: sign_receipt
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: tool
          targetType: tool
        id: edge-sign-execute
        source: sign_receipt
        sourceHandle: source
        target: llm_execute
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: tool
          targetType: tool
        id: edge-execute-verify
        source: llm_execute
        sourceHandle: source
        target: verify_receipt
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: tool
          targetType: tool
        id: edge-verify-export
        source: verify_receipt
        sourceHandle: source
        target: export_article12
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: tool
          targetType: end
        id: edge-export-end
        source: export_article12
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        zIndex: 0

    nodes:
      - data:
          desc: "Workflow input — describe the agent action to be executed and audited."
          selected: false
          title: Start
          type: start
          variables:
            - label: Action Type
              max_length: 256
              options: []
              required: true
              type: text-input
              variable: action_type
            - label: Action Scope
              max_length: 256
              options: []
              required: true
              type: text-input
              variable: scope
            - label: Agent ID
              max_length: 256
              options: []
              required: false
              type: text-input
              variable: agent_id
        height: 160
        id: start
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: "Sign a receipt before execution. Records agent_id, action_type, scope, and timestamp_ms as the canonical preimage."
          provider_id: nobulex
          provider_name: nobulex
          provider_type: builtin
          selected: false
          title: Sign Receipt (Pre-execution)
          tool_configurations:
            agent_id: "{{#start.agent_id#}}"
          tool_label: nobulex
          tool_name: sign_receipt
          tool_parameters:
            action_type:
              type: mixed
              value: "{{#start.action_type#}}"
            scope:
              type: mixed
              value: "{{#start.scope#}}"
          type: tool
        height: 54
        id: sign_receipt
        position:
          x: 400
          y: 282
        positionAbsolute:
          x: 400
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "Execute the actual agent task here. The pre-execution receipt is already signed."
          model:
            completion_params:
              temperature: 0.3
            mode: chat
            name: gpt-4o-mini
            provider: openai
          prompt_template:
            - id: system-prompt
              role: system
              text: "You are an auditable AI agent. Complete the requested task. A cryptographic receipt has been signed for this action with action_ref: {{#sign_receipt.action_ref#}}"
            - id: user-prompt
              role: user
              text: "Execute: {{#start.action_type#}} within scope {{#start.scope#}}"
          selected: false
          title: Execute Task (LLM)
          type: llm
          vision:
            enabled: false
        height: 98
        id: llm_execute
        position:
          x: 720
          y: 282
        positionAbsolute:
          x: 720
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: "Verify the receipt's Ed25519 signature and hash chain are intact."
          provider_id: nobulex
          provider_name: nobulex
          provider_type: builtin
          selected: false
          title: Verify Receipt
          tool_configurations: {}
          tool_label: nobulex
          tool_name: verify_receipt
          tool_parameters:
            receipt_json:
              type: mixed
              value: "{{#sign_receipt.receipt_json#}}"
          type: tool
        height: 54
        id: verify_receipt
        position:
          x: 1040
          y: 282
        positionAbsolute:
          x: 1040
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: "Export a regulator-facing EU AI Act Article 12 evidence package from this session."
          provider_id: nobulex
          provider_name: nobulex
          provider_type: builtin
          selected: false
          title: Export Article 12 Package
          tool_configurations: {}
          tool_label: nobulex
          tool_name: export_article12
          tool_parameters:
            session_id:
              type: mixed
              value: "dify-{{#start.action_type#}}"
          type: tool
        height: 54
        id: export_article12
        position:
          x: 1360
          y: 282
        positionAbsolute:
          x: 1360
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: "Workflow complete. Returns the Article 12 evidence package."
          outputs:
            - label: Article 12 Evidence Package
              type: string
              value_selector:
                - export_article12
                - text
              variable: article12_package
            - label: Action Ref
              type: string
              value_selector:
                - sign_receipt
                - action_ref
              variable: action_ref
            - label: Verification Status
              type: string
              value_selector:
                - verify_receipt
                - text
              variable: verification_status
          selected: false
          title: End
          type: end
        height: 98
        id: end
        position:
          x: 1680
          y: 282
        positionAbsolute:
          x: 1680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
